<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Kauã Felipe Alves</title>

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/geral.css">
    <script src="https://kit.fontawesome.com/9cdae4d3b8.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--
        - Sobre mim
        - Meus projetos (quando clicar em um projeto, irá mostrar todos os detelhes sobre)
        - Minhas formações
        - Minhas experiêcias
        - Meus conhecimentos (tecnologias, linguagens, ferramentas)
        - Redes sociais em algum dos lados da tela
    -->

    <div id="preloader"></div>

    <header id="topo">
        <nav>
            <span class="logo">
                <a href="">Kauã Felipe Alves</a>
            </span>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#my-projects" class="link-projects">Projetos</a></li>
                <li><a href="#about" class="link-about">Sobre</a></li>
            </ul>
        </nav>
        <section class="text-box">
            <p>Olá! Me Chamo</p>
            <h1>Kauã</h1>
            <h3>Eu espero que goste de meu portfolio/site</h3>
            <div class="row">
                <a href="">Explore Meu Portfolio</a>
                <a href="">Conecte-se comigo <span>&#x27F6</span></a>
                <span>Você Pode Explorar Mais Sobre Meu Portfolio E<br> Experiência De Minha Vida Pessoal Aqui</span>
            </div>
        </section>
        <section class="window-welcome">
            <div class="circles">
                <div class="circle">.</div>
                <div class="circle">.</div>
                <div class="circle">.</div>
            </div>
            <div class="col-numbers">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="row-horizontal"></div>
            <pre>
                <code>
                    <span class="variable">const</span>
                    <span>  nome</span>
                    <span class="operador">  =</span>
                    <span class="comand">  prompt</span>
                    <span>(</span>
                    <span class="aspas">"</span>
                    <span class="text-info">Escreva seu nome ao lado: </span> <input type="text" name="name-people" value="">
                    <span class="aspas">"</span>
                    <span>);</span>
                </code>
                <code>
                    <span class="comandDocument">document</span>
                    <span>.</span>
                    <span class="comandWrite">write</span>
                    <span>(</span>
                    <span class="text-info">`Olá </span>
                    <span class="cifrão">${</span>
                    <span>nome</span>
                    <span class="cifrão">}</span>
                    <span class="text-info">! Seja bem-vindo/a ao meu portfólio`</span>
                    <span>);</span>
                </code>
                <code>
                    <span class="comandReturn">return </span>
                    <span>Olá </span>
                    <span id="name-people"></span>
                    <span>! Seja bem-vindo/a ao meu portfólio</span>
                    <span></span>
                    <span></span>
                </code>
                <!-- <code>
 Return {
     Olá "", Seja Muito Bem Vindo(a) Ao Meu Site. Espero que goste =D
 }
                </code> -->
            </pre>
        </section>
    </header>

    <main>
        <section class="my-projects" id="my-projects">
            <h2>Meus Projetos Pessoais</h2>
            <div class="all-projects">
                <a href="https://github.com/Kaua-Felipe/projeto-AnimalsHope-TCC" target="_blank">
                    <div class="project">
                        <span>Fev, 2021 —— Jun, 2021</span>
                        <h3 id="title_project">AnimalsHope - design resources for InVision Studio</h3>
						<span>Ver projeto</span>
                    </div>
                </a>
                <a href="https://github.com/Kaua-Felipe/projeto-eletiva/" target="_blank">
                    <div class="project">
                        <span>Jun, 2021 —— Jul, 2021</span>
                        <h3>Organização Para Os Professores - design resources for InVision Studio</h3>
                    </div>
                </a>
                <a href="https://github.com/Kaua-Felipe/my-portfolio" target="_blank">
                    <div class="project">
                        <span>Set, 2021 —— Em Andamento</span>
                        <h3>Portfólio - design resources for InVision Studio</h3>
                    </div>
                </a>
            </div>
        </section>

        <section class="about" id="about">
			<div class="title-about">
				Sobre Mim
			</div>
			<div class="container-about">
				<div class="text-about">
					<p>Meu nome é Kauã Felipe Alves, tenho 17 anos e nasci na cidade de Araçatuba-SP. Atualmente, moro com meu irmão e minha mãe, mas busco a minha independência financeira. Para conseguir isso, busco um espaço no mercado de trabalho na área da tecnologia, especificamente na área do desenvolvimento web, área pela qual senti interesse quando fiz o curso de Desenvolvimento de Sistemas. A minha curiosidade me levou a criar o meu próprio site aos 17 anos.</p>
				</div>
				<div class="img-about">
					<img src="../images/img-about.jpeg" alt="">
				</div>
			</div>	
        </section>
    </main>

    <footer>
        <div class="row-footer">
            <div class="col">
                <img src="" class="logo-footer" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur magnam, numquam quibusdam quae reprehenderit sint, ratione saepe velit quod error distinctio amet mollitia quas quidem ex provident deleniti modi? Quisquam!</p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div> </h3>
                <p>ITPL Road</p>
                <p>Whitefield, Bangalore</p>
                <p>Karnataka, PIN 560066</p>
                <p class="email-id">kauafelipeoficial@gmail.com</p>
                <h4>+55 (18) 98817-1538</h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"><span></span></div> </h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="underline"><span></span></div> </h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Coloque seu email" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Kauã Felipe Alves © 2021 - All Rights Reserved</p>
    </footer>

    <div class="back-top">
        <a href="#topo">
            <i class="fas fa-arrow-up fa-lg"></i>
        </a>
    </div>

    <section id="redes-sociais">
        <ul>
            <div class="container-links-sociais">
                <div id="cor-facebook"></div>
                <li class="facebook">
                    <a href="https://www.facebook.com/kaua.felipe.9231712/" target="_blank">
                        <img src="../images/facebook.jpg" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-github"></div>
                <li class="github">
                    <a href="https://github.com/Kaua-Felipe/" target="_blank">
                        <img src="../images/github.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-linkedin"></div>
                <li class="linkedin">
                    <a href="https://www.linkedin.com/in/kau%C3%A3-f-a349571b9/" target="_blank">
                        <img src="../images/linkedin.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-twitter"></div>
                <li class="twitter">
                    <a href="https://twitter.com/KauaFelipeAlves" target="_blank">
                        <img src="../images/twitter.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-instagram"></div>
                <li class="instagram">
                    <a href="https://www.instagram.com/kauafelipe_alves/" target="_blank">
                        <img src="../images/instagram.jpg" alt="" class="img-rede">
                    </a>
                </li>
            </div>
        </ul>
    </section>

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/principal.js"></script>
    <script src="../js/geral.js"></script>
</body>
</html>