<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Meus Projetos</title>

    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/projects.css">
    <script src="https://kit.fontawesome.com/9cdae4d3b8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav id="topo">
            <span class="logo">
                <a href="">Kauã Felipe Alves</a>
            </span>
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="#my-projects" class="link-projects">Projetos</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <div class="row-footer">
            <div class="col">
                <img src="" class="logo-footer" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur magnam, numquam quibusdam quae reprehenderit sint, ratione saepe velit quod error distinctio amet mollitia quas quidem ex provident deleniti modi? Quisquam!</p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div> </h3>
                <p>ITPL Road</p>
                <p>Whitefield, Bangalore</p>
                <p>Karnataka, PIN 560066</p>
                <p class="email-id">avinashdm@outlook.com</p>
                <h4>+91 - 0123456789</h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"><span></span></div> </h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="underline"><span></span></div> </h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Coloque seu email" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Kauã Felipe Alves © 2021 - All Rights Reserved</p>
    </footer>

    <div class="back-top">
        <a href="#topo">
            <i class="fas fa-arrow-up fa-lg"></i>
        </a>
    </div>

    <section id="redes-sociais">
        <ul>
            <div class="container-links-sociais">
                <div id="cor-facebook"></div>
                <li class="facebook">
                    <a href="https://www.facebook.com/kaua.felipe.9231712/" target="_blank">
                        <img src="../images/facebook.jpg" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-github"></div>
                <li class="github">
                    <a href="https://github.com/Kaua-Felipe/" target="_blank">
                        <img src="../images/github.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-linkedin"></div>
                <li class="linkedin">
                    <a href="https://www.linkedin.com/in/kau%C3%A3-f-a349571b9/" target="_blank">
                        <img src="../images/linkedin.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-twitter"></div>
                <li class="twitter">
                    <a href="https://twitter.com/KauaFelipeAlves" target="_blank">
                        <img src="../images/twitter.png" alt="" class="img-rede">
                    </a>
                </li>
            </div>
            <div class="container-links-sociais">
                <div id="cor-instagram"></div>
                <li class="instagram">
                    <a href="https://www.instagram.com/kauafelipeoficial191/" target="_blank">
                        <img src="../images/instagram.jpg" alt="" class="img-rede">
                    </a>
                </li>
            </div>
        </ul>
    </section>

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/geral.js"></script>
</body>
</html>